*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

html {
  overflow-x: hidden;
}


html,
body,
#root {
  font-family: 'Passion One';
  /* height: 100%; */
  /* width: 100%; */
}

img {
  max-width: 100%;
}

@media only screen and (max-width: 40em) {
  .portfolio-image {
    max-height: 250px;
  }
}
