@font-face {
  font-family: 'FontAwesome';
  src: url('./shared/assets/FontAwesome.ttf') format('truetype');
}
@font-face {
  font-family: 'Komika';
  src: url('./shared/assets/Komika.ttf') format('truetype');
}
html {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  background-color: rgba(253, 245, 52, 1);
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  margin: 0 auto;
  max-width: 400px;
}
#root > div {
  min-height: 800px;
  display: flex;
  justify-content: center;
  border: 3px solid black;
}
body #root div {
  font-family: "Komika";
  font-style: italic;
  line-height: 1.3;
}
div[style*="FontAwesome"] {
  font-family: FontAwesome !important;
}
